
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
// $darkerGray: #222;
// $darkGray: #333;
// $gray: #666;
// $lightGray: #eee;
$black: #000;
$darkerGray: rgb(211, 207, 201);
$darkGray: rgb(200, 195, 188);
$gray: rgb(168, 160, 149);
$lightGray: rgb(34, 36, 38);
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}